In [3]:
# 1. Write a python program to find the largest of 3 numbers
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
n3 = float(input("Enter third number: "))

if (n1 >= n2) and (n1 >= n3):
   largest = n1
elif (n2 >= n1) and (n2 >= n3):
   largest = n2
else:
   largest = n3
print("The largest number is", largest)

Enter first number: 2
Enter second number: 3
Enter third number: 3
The largest number is 3.0

In [7]:
# 2.Write a python program to find the numbers divisible by 3 and 7 from 100 to 800
for i in range (100,801):
  if((i%3==0) & (i%7==0)):
    print (i)

105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420
441
462
483
504
525
546
567
588
609
630
651
672
693
714
735
756
777
798

In [42]:
# 3. Write a python program to find the count of numbers divisible by 8 from 1 to 1000
j = 0
for i in range(1,1001):
   if i % 8 == 0:
      j+=1
print (j)

125

In [11]:
# 4. Write a Python program to construct the following pattern, using a nested for loop.
rows = int(input("Enter no of Rows = "))

for i in range(0, rows):
    for j in range(0, i + 1):
        print('*', end = ' ')
    print()

for i in range(rows - 1, -1, -1):
    for j in range(0, i):
        print('*', end = ' ')
    print()

Enter no of Rows = 8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
# 5. Write a Python program to reverse a list using a for loop.
# Sample input: 10,40,30,70
# Sample output: 70,30,40,10

list1 = [10,40,30,70]
 
rev_list1 = []
 
for i in range(len(list1)) :
    rev_list1.append(list1[len(list1) - i - 1])
 
#print lists
print('Original List :', list1)
print('Reversed List :', rev_list1)

Original List : [10, 40, 30, 70]
Reversed List : [70, 30, 40, 10]

In [1]:
# 6. Write a python program to print the multiplication table of 1-10
for i in range(1,11):
    print("\n\nThe Multiplication Table of %d\n" %(i))
    for j in range(1,11):
        print("%-5d X %5d = %5d" % (i, j, i*j))

The Multiplication Table of 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


The Multiplication Table of 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


The Multiplication Table of 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


The Multiplication Table of 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


The Multiplication Table of 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


The Multiplication Table of 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


The Multiplication Table of 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


The Multiplication Table of 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


The Multiplication Table of 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


The Multiplication Table of 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

In [19]:
# 7. Write a python program to find the sum of integers less than 25 using while loop

sum = 0
for i in range(1,25):
  sum = sum + i
  i = i + 1
print("Sum is ", sum)

Sum is  300

In [10]:
# 8. Write a python program to print the even numbers in a list of numbers
s = input("Enter a list element separated by space ")
s = s.split()
s = [int(x) for x in s]
 
for num in s:
     if num % 2 == 0:
        print(num, end=" ")

Enter a list element separated by space 23 34 50 35 47 43 42
34 50 42

In [13]:
# 9. write a python program to find the sum of elements in a number list
s = input("Enter a list element separated by space ")
total = 0
s = s.split()
s = [int(x) for x in s]
for x in range(0, len(s)):
    total = total + s[x]
 
print("Sum of all elements in given list: ", total)

Enter a list element separated by space 1 2 3 4
Sum of all elements in given list:  10

In [24]:
# 10. Write a Python program to check whether a number is prime or not.
num = int(input('Enter the number :'))
if num > 1:
    for i in range(2, int(num/2)+1):
        
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the number :33
33 is not a prime number